.chatroom-container {
    width: 500px;
    height: 80vh;

    border-radius: 10px;
    background-color: rgb(244, 244, 244);
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0px 0px 0px 5px rgba(17, 17, 17, 0.195);
}

.topbar {
    height: 50px;
    width: 100%;

    margin-bottom: 10px;

    border-radius: 10px 10px 0 0;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    color: black;
    margin-left: 20px;
}

.info {
    color:black;
    margin-right: 20px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.live-box {
    /* background-color: rgb(255, 0, 0); */
    background-color: green;
    width: 10px;
    height: 10px;

    border-radius: 10px;
}

.nonlive-box {
    /* background-color: rgb(255, 0, 0); */
    background-color: rgb(255, 0, 0);
    width: 10px;
    height: 10px;

    border-radius: 10px;
}

.messages-container {
    height: 850px;
    width: 500px;
    /* background-color: antiquewhite; */

    margin-bottom: 25px;

    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    display: flex;
    flex-direction: column;
}

.textbox-container {
    /* position: relative;
    top: 50px; */
    margin-bottom: 10px;

    background-color: rgb(255, 255, 255);
    width: 460px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.212);
}

.textbox {
    height: max-content;
    width: 350px;
    border: none;
    resize: none;
    outline: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    background-color: white;
    color: black;

}

.send-button {
    color: black;
}
